{% extends '_base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row h-100">
        <div id="buttons-pane"
             class="col-1 pt-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content align-items-center">
                    <i class="fas fa-ambulance circle-icon pink-icon"></i>
                </li>
                <li class="list-group-item d-flex justify-content align-items-center">
                    <i class="fas fa-baby-carriage circle-icon orange-icon"></i>
                </li>
                <li class="list-group-item d-flex justify-content align-items-center">
                    <i class="fas fa-ban circle-icon blue-icon"></i>
                </li>
            </ul>
        </div>
        <div id="channels-pane"
             class="col-2">
            Channels
        </div>
        <div id="main-pane"
             class="col-7">
            Main
        </div>
        <div id="friends-pane"
             class="col-2">
            Friends
        </div>
    </div>
</div>
{% endblock %}