{% extends '_base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row h-100">
        <div id="buttons-pane"
             class="col-1 pt-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content align-items-center"
                    onclick="selectMe(event)">
                    <img class="circle-icon pink-icon"
                         src="http://placebeard.it/64/64?beard=1"
                         alt="">
                </li>
                <li class="list-group-item d-flex justify-content align-items-center"
                    onclick="selectMe(event)">
                    <img class="circle-icon pink-icon"
                         src="http://placebeard.it/64/64?beard=2"
                         alt="">
                </li>
                <li class="list-group-item d-flex justify-content align-items-center"
                    onclick="selectMe(event)">
                    <img class="circle-icon pink-icon"
                         src="http://placebeard.it/64/64?beard=3"
                         alt="">
                </li>
            </ul>
        </div>
        <div id="channels-pane"
             class="col-2">
            Channels
        </div>
        <div id="main-pane"
             class="col-7">
            Main
        </div>
        <div id="friends-pane"
             class="col-2">
            Friends
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function selectMe(event) {
        //this is the wrong way
        //later, we will figure out why!
        let li = document.querySelectorAll('li');
        li.forEach(l => l.classList.remove('bc-active'));

        event.currentTarget.classList.toggle('bc-active');
    }
</script>
{% endblock %}